:root {
    --main-soft-blue: hsl(215, 51%, 70%);
    --main-cyan: hsl(178, 100%, 50%);
    --main-bg: hsl(217, 54%, 11%);
    --main-bg2: hsla(218, 52%, 9%, 0.404);
    --main-bg3: hsla(218, 52%, 9%, 0.144);
    --card-bg: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}

body {
    font-family: 'Outfit', sans-serif;
    margin: 0;
    background-color: var(--main-bg);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container { 
    background-color: var(--card-bg);
    padding: 25px;
    border-radius: 20px;
    max-width: 330px;
    box-shadow: 0px 30px 4px 15px var(--main-bg2), 0px 35px 4px 60px var(--main-bg3);
}

a, h1 {
    color: var(--white);
}

h1 {
    font-weight: 400;
    font-size: 27px;
    margin-top: 25px;
    width: max-content;
}

p {
    color: var(--main-soft-blue);
    font-size: 18px;
    font-weight: 300;
    margin: 0;
}


.time, .price{
    display: flex;
    align-items: center;
}

.time-text, .price-text {
    margin-left: 0.5em;
}

.price-text {
    color: var(--main-cyan);
    font-weight: 600;
}
.container-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--line);
    box-sizing: border-box;
    padding: 1.5em 0;
}

.equilibrium {
    max-width: 100%;
    border-radius: 10px;
}

.author-container {
    margin: 1em 0em 0em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.author {
    width: 10%;
    height: 10%;
    border: 1px solid var(--white);
    border-radius: 50px;
    margin-right: 20px;
}


a:hover, .h1:hover, .overlay:hover {
    color: var(--main-cyan);
    cursor: pointer;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.color {
    min-height: 330px;
    position: absolute;
    width: 330px;
    border-radius: 10px;
}

.overlay:hover .color {
    background-color: var(--main-cyan) !important;
    opacity: 50%;
}

.overlay:hover .icon {
    opacity: 1;
}

.icon {
    position: absolute;
    opacity: 0;
}

.overlay:hover .equilibrium {
    background-color: var(--main-cyan);
}